@import "src/assets/variables";

.alert {
  padding: $gapS $gapS $gapS $gap4XL;
  border-radius: 30px;
  line-height: 20px;
  color: $colorWarning;
  background-color: $bgColorWarning;
  font-size: $fontS;
  font-weight: $regular;
  gap: $gapS;
  margin: 40px 0px;
  position: relative;

  &:before {
    display: inline-block;
    position: absolute;
    left: 16px;
    top: 16px;
    content: url("../../assets/icons/li_alert-circle.svg");
  }

  &.red {
    &:before {
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      content: "";
      background: url("../../assets/icons/error-icon.svg");
      background-size: 100%;
      left: 16px;
      top: 16px;
    }
    color: $colorError700;
  }
}
