@import "src/assets/variables";
.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.title {
  display: flex;
  align-items: center;
  .logo {
    margin-right: 10px;
    height: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.address {
  width: 100%;
  .value {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon {
    margin-right: 6px;
  }
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  .icon {
    margin-right: 6px;
  }
}
.box {
  border: 1px solid $colorGray600;
  border-radius: 8px;
  padding: 5px 10px;
}
.wallets {
  width: 100%;
  color: $colorGray200;
  td {
    padding: 5px 0;
    vertical-align: middle;
    &:last-of-type{
      text-align: right;
      color: $colorBaseWhite;
    }
  }
  .icon {
    vertical-align: middle;
    margin-right: 10px;
  }
}
.disconnect {
  .icon {
    margin-right: 6px;
  }
}
