@import "src/assets/variables";

.logoWrapper {
  height: 46px;
  padding: 0 $gapMxs;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1A1A25;
  border: 1px solid #3C3C55;
  border-radius: 38px;
  cursor: pointer;
}

.logo {
  width: 30px;
  height: 30px;
}

.logoTitle {
  color: $colorBaseWhite;
  font-size: $fontM;
  font-weight: $semiBold;
  padding-right: 24px;
  margin-left: 10px;
  position: relative;

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    content: url('../../../assets/icons/chevron-down.svg');
  }
}